# Python bytecode files
*.pyc
__pycache__/

# Django-specific files
*.log
*.pot
*.pyc
__pycache__/

# Virtual environments
venv/
env/
.env/

# SQLite database
db.sqlite3

# Media and Static files
media/
static/

# Django migrations
*/migrations/*