textarea {
    min-height: 400px;
}

.email-link {
    color: black !important; /* Keep text black */
    text-decoration: none !important; /* Remove underline */
}

.email-link:hover {
    color: black !important; /* Keep black on hover */
    text-decoration: none !important; /* Remove underline on hover */
    font-weight: bold;
}

.btn btn-sm btn-outline-primary {
    color: black;
}